.foto-estructuras{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../img/estructuras.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h1{
        color: white;
        font-size: 40px; 
    }
}
.proyectos{
    padding-left: 55px;
    padding-bottom: 50px;
    .titulo-proyectos{
        display: flex;
        justify-content: center;
        font-size: 40px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .box-proyectos{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, auto));
        grid-auto-rows: minmax(200px,auto);
        gap: 30px;
        justify-items: center;
        img{
            width: 400px;
            height: 350px;
            object-fit: cover;
            border-radius: 10px;
        }
    }  
}